@import "basic";
@import "mixin";

/* header */
.header {
  background-color: #b2dfdb;
  padding: 15px 0;
  border-bottom: 2px solid #adb3b2;
  &__inner {
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    width: 60px;
  }
  &__nav {
    column-gap: 25px;
  }
  &__link {
    @include fs-16;
    color: #fff;
    font-weight: bold;
  }
}

/* main */
.main {
  background-color: #eeeeee;
}

/* top page */
.book-top {
  justify-content: space-between;
  &__box {
    background-color: #fff;
    padding: 50px 20px;
    &.before {
      width: 60%;
    }
    &.after {
      width: 38%;
    }
  }
  &__heading {
    @include basic-heading;
    color: #aeaeae;
  }
  &-list {
    margin-top: 30px;
    &__item {
      @include set-border(1px, solid, #f2f2f2);
      padding: 10px 0 10px 15px;
    }
    &__link {
      @include fs-16;
      color: $color-green;
    }
  }
  &__ico {
    width: 50px;
    margin-left: auto;
    margin-top: 20px;
  }
}

/* preview area */
#image_preview {
  margin-top: 20px;
  width: 50%;
  aspect-ratio: 2/1;
  display: none;
  img {
    height: 100%;
    object-fit: contain;
  }
}

/* book form */
.book-form {
  background-color: #fff;
  padding: 50px 20px;
  &__inner {
    width: min(80%, 550px);
    margin: 0 auto;
  }
  &__heading {
    @include basic-heading;
  }
  &__item {
    @include fs-14;
    margin-bottom: 20px;
    input,
    select {
      @include set-border(1px, solid, #c2c2c2);
      border-radius: 5px;
      padding: 5px 0 5px 10px;
    }
    &.image {
      position: relative;
      label {
        position: absolute;
        background-color: #b2dfdb;
        color: #fff;
        width: 120px;
        text-align: center;
        padding: 5px 0;
        top: 3px;
        left: 7px;
        cursor: pointer;
      }
    }
  }
  &__text {
    width: 100%;
  }
  &__date {
    width: 34.3%;
  }
  &__select {
    width: 50%;
  }
  &__submit {
    background-color: $color-green;
    color: #fff;
    width: 240px;
    padding: 10px 0 !important;
    display: block;
    margin: 50px auto 0;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
}

/* error message */
.err-msg {
  @include fs-12;
  text-align: center;
  font-weight: bold;
  li {
    color: #eb4234;
  }
}

/* confirm page */
.book-confirm {
  @include fs-16;
  background-color: #fff;
  padding: 50px 20px;
  margin: 0;
  dt {
    font-weight: bold;
  }
  dd {
    margin-bottom: 15px;
  }
  &__img {
    width: 150px;
  }
  &__footer {
    margin-top: 30px;
  }
  &__form {
    width: 100%;
    justify-content: center;
    column-gap: 20px;
  }
  &__btn {
    &--fix {
      @include set-border(1px, solid, $color-green);
      @include fs-14;
      background-color: transparent;
      color: $color-green;
      width: 150px;
      border-radius: 5px;
      padding: 5px 0;
      cursor: pointer;
    }
    &--submit {
      @include fs-14;
      background-color: $color-green;
      color: #fff;
      width: 150px;
      border: none;
      border-radius: 5px;
      padding: 5px 0;
      cursor: pointer;
    }
  }
}

/* flash message */
.flash-msg {
  @include centering;
  background-color: #fff;
  height: 100vh;
  flex-direction: column;
  row-gap: 50px;
  &__txt {
    @include fs-20;
    margin: 0;
  }
  &__btn {
    @include set-border(1px, solid, $color-green);
    @include fs-14;
    width: 120px;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    color: $color-green;
  }
}

/* book show */
.book-show {
  &-head {
    background-color: #fff;
    padding: 20px 10px;
    &__item--before {
      width: 70%;
    }
    &__img {
      width: 30%;
      img {
        width: 60%;
        object-fit: contain;
        height: auto;
        border-radius: 10px;
      }
    }
    &__title {
      @include fs-24;
    }
    &__data {
      @include fs-16;
    }
  }
  &-body {
    margin-top: 40px;
    justify-content: space-between;
    &__item {
      &--before {
        width: 65%;
      }
      &--after {
        width: 30%;
      }
    }
    &-box {
      background-color: #fff;
      padding: 15px 10px;
      &__heading {
        @include fs-16;
        font-weight: normal;
        padding-left: 20px;
      }
      &__content {
        @include set-border(1.5px, solid, #f5f6f7);
        @include fs-14;
        border-radius: 10px;
        padding: 20px;
        row-gap: 5px;
        div {
          @include fs-14;
          width: 50%;
        }
        dt {
          float: left;
          color: #70757a;
        }
        dd {
          margin-left: 100px;
        }
      }
      &-list {
        @include set-border(1.5px, solid, #f5f6f7);
        border-radius: 10px;
        &__item {
          width: 25%;
          figcaption {
            @include fs-14;
            text-align: center;
            margin-top: 10px;
          }
          p {
            @include fs-12;
            text-align: center;
            border-top: 1px solid #f5f6f7;
            border-bottom: 1px solid #f5f6f7;
            padding: 8px 0;
          }
        }
        &__link {
          @include fs-14;
          @include set-border(1px, solid, #f5f6f7);
          border-radius: 100vh;
          width: 110px;
          margin: 10px auto;
          padding: 5px 0;
          text-align: center;
          position: relative;
          &::before {
            content: "";
            background: url("ico_arrow.webp") no-repeat;
            background-size: contain;
            display: inline-block;
            width: 18px;
            height: 18px;
            position: absolute;
            left: 0.5em;
            top: calc(50% - 18px / 2);
          }
          &:hover {
            background-color: #f2f2f2;
          }
        }
        &__footer {
          @include set-border(1.5px, solid, #f5f6f7);
          @include fs-14;
          border-top: none;
          border-radius: 0 0 10px 10px;
          padding: 20px 0;
          text-align: center;
          a {
            color: #1a73e8;
          }
        }
        &.no-bottom-radious {
          border-radius: 10px 10px 0 0;
        }
      }
    }
  }
}
